body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}

@media only screen and (min-width: 640px) {
    body {
      background-color: #eaf6ff;
    }
  }

  /* If the screen size is 640px or more, set the font-size of <h1> to 80px */
@media only screen and (min-width: 640px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  
  /* If the screen size is 500px or less, set the font-size of <h1> to 30px */
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
  }

/* first grid */
.fixed-size-grid-items{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

/* interactive rules */
  @media screen and (min-width: 0px) {
    .fixed-size-grid-items li {
      display: block;
      font-size: 0.8rem;
      width: 170px;
      margin: 10px;
    }
  }
  

/* second grid */
.stretchable-grid-items{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

/* interactive rules */
@media screen and (max-width: 480px) {
  .stretchable-grid-items li {
    display: block;
    width: 100%;
    font-size: 0.8rem;

    margin: 10px;
  }
}

@media screen and (min-width: 480px) {
  .stretchable-grid-items li {
    display: block;
    width: 50%;

    margin: 10px;
  }
}

@media screen and (min-width: 640px) {
  .stretchable-grid-items li {
    display: block;
    width: 25%;
    font-size: 0.8rem;
    width: 170px;
    margin: 10px;
  }
}

@media screen and (min-width: 0px) {
  .stretchable-grid-items ul {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
}